<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
  <div class="info">
    <h1>Information Sheet: Visualization Experiment</h1>
      <p>Students: Hasan Nofal, Mohid Chaudhry, Fathan Raedaya and Jonathan Sutanto</p>
      <p>Address: School of Computing, University of Leeds</p>
      <p>We are a group of students at the University of Leeds, interested in how to design visualizations of descriptive
      statistics. If you volunteer for the experiment you will perform a series of trials. The order in which
      you perform the trials will depend on the group to which you are allocated. Each trial will show either a heatmap or a scatter plot, displaying 
      the number of absences for 10 schools across 10 months. Your task is to select the month with the highest total absences. 
      You can do so by selecting one of the data points on the graph in that given month. Once you proceed to the next question you cannot go back to the previous one.
      The experiment will take approximately 10 minutes. Your responses will be recorded, but you will
      remain anonymous. The research may be reported in student work, but no-one should be able to
      identify you and at no point will your identity be divulged.</p>
      <p>By taking part in the experiment you are indicating informed consent. You are free to withdraw from
      the experiment at any time.</p>
      <p>Finally, please let us know if you have any questions or would like to discuss anything with us, you can find our contact information <a href="/contact">here</a>.</p>
      <div id="agree-btns">
        <form action="{{ url_for('start_survey') }}" method="post">
            <button type="submit" class="btn btn-primary">Agree and Begin Survey</button>
            <a href="/" class="btn btn-danger">Take me back</a>
        </form>
      </div>

  </div>
{% endblock %}